@model IEnumerable<WebApplication1.Models.ViewModel.TopUser>
@{
    ViewBag.Title = "Home Page";
}
<div class="center">
    @if (TempData["success"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["success"]</p>
    }
</div>

<div class="messagepop pop">
    <p><label for="body">Message</label><textarea rows="6" name="body" id="body" cols="35"></textarea></p>
</div>

<a href="/contact" id="contact">Contact Us</a>
<span class="tooltip" title="This is my span's tooltip message!">Some text</span>
<span class="bottom" title="" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Tooltip on bottom">Somedsdsdsd</span>
<div class="row marg-top">
    <div class="col-md-5 panel-body">
        <div id="input" contenteditable="true" class="editable col left-col">
            @*<span class="tooltip" title="This is my span's tooltip message!">Some text</span>*@
        </div>
    </div>

    <div class="col-md-7 panel panel-default right-col">
        <h3 style="color:black" class=td-center>Top 10 Requests</h3>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr class="top_label">
                        <th colspan="2">User</th>
                        <th colspan="2">Last Login</th>
                        <th colspan="2">Aver Interval Between Request</th>
                        <th colspan="1">Count Request</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
               {   
                    <tr>
                        <td colspan="2">@item.UserName</td>
                        <td colspan="2">@item.DateLastLogin</td>
                        <td colspan="2" class="td-center">@item.AverageIntervalBetweenRequest hours</td>
                        <td colspan="1" class="td-center">@item.CountRequest</td>
                    </tr>
                }
            </table>
        </div>

    </div>
    <button id="qwe" class="click">click to add text</button>
</div>


<script>

    $.fn.slideFadeToggle = function (easing, callback) {
        return this.animate({ opacity: 'toggle', height: 'toggle' }, 'medium', easing, callback);
    }

    function deselect(e) {
        $('.pop').slideFadeToggle(function () {
            e.removeClass('selected');
        });
    }

    $(function () {
        $(".bottom").tooltip({
            placement: "bottom"
        });
        $('#contact').on('mouseenter', function () {
            if ($(this).hasClass('selected')) {
                deselect($(this));
            } else {
                $(this).addClass('selected');
                $('.pop').slideFadeToggle();
            }
            return false;
        });

        $('.messagepop').on('mouseleave', function () {
            deselect($('#contact'));
            return false;
        });
    });







    jQuery.fn.putCursorAtEnd = function () {

        return this.each(function () {

            // Cache references
            var $el = $(this),
                el = this;

            // Only focus if input isn't already
            if (!$el.is(":focus")) {
                $el.focus();
            }

            // If this function exists... (IE 9+)
            if (el.setSelectionRange) {

                // Double the length because Opera is inconsistent about whether a carriage return is one character or two.
                var len = $el.val().length * 2;

                // Timeout seems to be required for Blink
                setTimeout(function () {
                    el.setSelectionRange(len, len);
                }, 1);

            } else {

                // As a fallback, replace the contents with itself
                // Doesn't work in Chrome, but Chrome supports setSelectionRange
                $el.val($el.val());

            }

            // Scroll to the bottom, in case we're in a tall textarea
            // (Necessary for Firefox and Chrome)
            this.scrollTop = 999999;

        });

    };


    (function ($) {
        // Behind the scenes method deals with browser
        // idiosyncrasies and such
        $.caretTo = function (el, index) {
            if (el.createTextRange) { 
                var range = el.createTextRange(); 
                range.move("character", index); 
                range.select(); 
            } else if (el.selectionStart != null) { 
                el.focus(); 
                el.setSelectionRange(index, index); 
            }
        };

        // The following methods are queued under fx for more
        // flexibility when combining with $.fn.delay() and
        // jQuery effects.

        // Set caret to a particular index
        $.fn.caretTo = function (index, offset) {
            return this.queue(function (next) {
                if (isNaN(index)) {
                    var i = $(this).val().indexOf(index);
                
                    if (offset === true) {
                        i += index.length;
                    } else if (offset) {
                        i += offset;
                    }
                
                    // Convert string to indexOf position
                    index = i;
                }
                $.caretTo(this, index);
                next();
            });
        };
    })

    $.caretTo = function (el, index) {
        if (el.createTextRange) { 
            var range = el.createTextRange(); 
            range.move("character", index); 
            range.select(); 
        } else if (el.selectionStart != null) { 
            el.focus(); 
            el.setSelectionRange(index, index); 
        }
    };

    // The following methods are queued under fx for more
    // flexibility when combining with $.fn.delay() and
    // jQuery effects.

    // Set caret to a particular index
    $.fn.caretTo = function (index, offset) {
        return this.queue(function (next) {
            if (isNaN(index)) {
                var i = $(this).val().indexOf(index);

                if (offset === true) {
                    i += index.length;
                } else if (offset) {
                    i += offset;
                }

                // Convert string to indexOf position
                index = i;
            }
            $.caretTo(this, index);
            next();
        });
    }


    function placeCaretAtEnd(el) {
        el.focus();
        if (typeof window.getSelection != "undefined"
                && typeof document.createRange != "undefined") {
            var range = document.createRange();
            range.selectNodeContents(el);
            range.collapse(false);
            var sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(range);
        } else if (typeof document.body.createTextRange != "undefined") {
            var textRange = document.body.createTextRange();
            textRange.moveToElementText(el);
            textRange.collapse(false);
            textRange.select();
        }
    }

    $.fn.focusToEnd = function () {
        return this.each(function () {
            var v = $(this).html();
            $(this).focus().html("").html(v);
        });
    };

    $.fn.caretToEnd = function () {
        return this.queue(function (next) {
            $.caretTo(this, $(this).val().length);
            next();
        });
    };

    $('#qwe').on('click', function () {
        $('#input').focus();
        $('#input').setCursorPosition($('#input_srt').text().length);
        $('#input').putCursorAtEnd();
        $('#input').focusToEnd();
        $('#input').caretToEnd();
        $('#input').focus(); //sets focus to element
        var val = $('#input').text(); //store the value of the element
        $('#input').text(''); //clear the value of the element
        $('#input').text(val); //set that value back.  
    });



    $.fn.setCursorPosition = function (pos) {
        if ($(this).get(0).setSelectionRange) {
            $(this).get(0).setSelectionRange(pos, pos);
        } else if ($(this).get(0).createTextRange) {
            var range = $(this).get(0).createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    }











$(document).ready(function () {
    $('#input').bind('blur change', function () {
        editTxt('#input');
        $('span').on('mouseover', function () {
            $(this).addClass('hlight');
        });
        $('span').on('mouseout', function() {
            $(this).removeClass('hlight');
        });
});

        //$('#input').on('keyup', function () {
        //    $('#input').focus();
        //    $('#input').setCursorPosition($('#input_srt').text().length);
        //    $('#input').putCursorAtEnd();
        //    $('#input').focusToEnd();
        //    $('#input').caretToEnd();
        //    $('#input').focus(); //sets focus to element
        //    var val = $('#input').text(); //store the value of the element
        //    $('#input').text(''); //clear the value of the element
        //    $('#input').text(val); //set that value back.  
        //});


    function editTxt(selector) {
        $(function() {
            var newHtml = '';
            //  temp = $();
            var words = $(selector).text().split(' ');
            for (i = 0; i < words.length; i++) {
                if (words[i].length >= 4) 
                //{
                //    temp.add("span").addClass("tooltip").html(words[i]);
                //    var v = temp.length;
                //}
                    newHtml += '<span class="tooltip" title="This is my spans tooltip message!">' + words[i].trim() + '</span> ';
                else if (words[i].length < 4 && words[i]!="")// temp.add("span").html(words[i]);
                    newHtml += words[i].trim() + ' ';
            }
           // var a = temp.length;
            $(selector).html(newHtml);
        });
    }
    });

</script>